body {
    width: 100%
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247, 222, 249);
    color: blueviolet;
    padding: 20px;
}

#user-info-container {
    align-self: center;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flowers-container {
    display: flex;
    flex-flow: row wrap;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

#add-flower-container {
    margin-top: 35px
}

.my-button {
    margin-top: 35px;
    align-self: center;
    width: 150px;
    height: 70px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#footer {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 222, 249);
    color: blueviolet;
    margin-top: 50px;
}

.footer-content {
    margin-left: 10px;
    margin-right: 10px;
}

#back-to-home-page-btn {
    margin-top: 50px;
    width: 150px;
}

#modal-name {
    margin-top: 20px;
}

#modal-price {
    margin-top: 10px;
}

.flower-btn {
    width: 140px;
    height: 40px;
    margin-bottom: 5px;
}

.favorite-btn {
    width: 140px;
    height: 40px;
}

#flower-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#user-login-container {
    align-self: center;
}

#user-info-container {
    align-self: end;
}
